:host {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}
section {
  display: inline;
  flex-grow: 1;

  width: 100%;
}
article {
  padding: 25px;
}
article div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 100%;




  gap: 5px;
}




.logo-article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}



article div img {
  width: 100%;
  margin: auto;

  border-radius: 10px;
  border: 5px solid rgba(255,255,255,.07);
  box-sizing: border-box;

  cursor: pointer;

  transition: border-color .1s linear;
}
article div img:hover {
  border-color: rgba(255,255,255,.25);
}
article div img.opened1 {
  position: fixed;

  width: 80%;



  top: 10%;
  left: 10%;

  z-index: 20;
}



@media only screen and (max-width: 1250px) {
  article div {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 1000px) {
  article div {
    grid-template-columns: 1fr;
  }
}
