<main>
  <app-page-header>
    <span class="icon"></span>
    Галерея
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_gold.png" width="300px"/>

    <article>
      <p>Количество картинок: {{ imageItems.length }}</p>
      <gallery [items]="imageItems" thumbPosition="left"></gallery>
<!--      <gallery>-->
<!--        @for (image of images; track image) {-->
<!--          <img [src]="image" class="gallery-image" (click)="onImageClick($event)">-->
<!--        }-->
<!--      </gallery>-->
<!--      <in-gallery-component></in-gallery-component>-->
      <div class="imagesContainer" [lightbox]="1">
        @for (image of images; track image) {
          <img [src]="image" (click)="onImageClick($event)" alt="">
        }
      </div>
    </article>

  </section>

  <app-page-footer/>
</main>
<app-modal [showModal]="showModal" [imageSrc]="selectedImage" (closeEvent)="closeModal()"> </app-modal>
