<main>
  <app-page-header>
    <span class="icon"></span>
    Галерея
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_8.png" width="300px"/>

    <article>
      <div #imageContainer>
        <img *ngFor="let image of images" [src]="image" class="gallery-image" (click)="onImageClick($event)">
      </div>
    </article>

  </section>

  <app-page-footer/>
</main>
<app-modal [showModal]="showModal" [imageSrc]="selectedImage" (closeEvent)="closeModal()"> </app-modal>
