<main>
  <app-page-header>
    <b>8</b>
    Сезон
    <b> > </b>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_8.png" width="300px"/>


    <div class="info-panel">
      <app-status-box class="critical">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(255, 153, 164);">Затерян</span>
      </app-status-box>

      <div>
        <b>Сезон:</b>
        8
      </div>
      <div>
        <b>Количество участников:</b>
        6
      </div>
      <div>
        <b>Старт:</b>
        12.10.2024 - 20:00
      </div>
      <div>
        <b>Конец:</b>
        11.02.2025
      </div>
      <div>
        <b>Версия:</b>
        1.21.1
      </div>
      <hr/>
      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>DogFilka_228</li>
          <li>Chig__Grik</li>
          <li>hanamzenok</li>
          <li>Htosy</li>
          <li>Lisi_Aboba</li>
        </ol>
      </div>

      <hr/>
      <h3>Итог</h3>


      <div>
        Сезон был затерян из-за неактива...
      </div>
      <hr style="border-color: #00000000;"/>
      <div>
        Как же так...
      </div>

    </div>

  </section>

  <app-page-footer/>
</main>
