<nav>
  <div class="social-buttons">
    <a class="social-button viber" href="https://invite.viber.com/?g2=AQBPFFHpmz3GAk0ZBQEd1%2FJ%2FLFjE04ezeasyfRGvF2SNlgZqntMkRllM75KaDPW6" target="_blank">
      <img src="viber-icon-white.svg" alt="viber-logo"/>
      <span>Viber</span>
    </a>
    <a class="social-button telegram" href="https://t.me/+0Oz-wBiVRxNlYzRi" target="_blank">
      <img src="telegram-logo-white.svg" alt="telegram-logo"/>
      <span>Telegram</span>
    </a>
    <a class="social-button discord" href="https://discord.gg/7BKZZMBaAS" target="_blank">
      <img src="icon_clyde_white_RGB.svg" alt="discord-logo"/>
      <span>Discord</span>
    </a>

    <hr/>
  </div>


  <app-navigation-button routerLink="home" routerLinkActive="selected" text="Главная" icon=""/>
  <app-navigation-button routerLink="gallery" text="Галерея" icon=""/>
  <app-navigation-button routerLink="information" text="Информация" icon=""/>



  <hr style="width: 90%;"/>

  <app-navigation-menu text="Сезон" icon="7">
    <app-navigation-button routerLink="season7/home" routerLinkActive="selected" text="Главная" icon=""/>
  </app-navigation-menu>

  <app-navigation-menu text="Сезон" icon="6">
    <app-navigation-button routerLink="season6/home" routerLinkActive="selected" text="Главная" icon=""/>
  </app-navigation-menu>

  <app-navigation-menu text="Скай блок" icon="1">
    <app-navigation-button routerLink="sky-block1/home" routerLinkActive="selected" text="Главная" icon=""/>
  </app-navigation-menu>

  <app-navigation-menu text="Сезон" icon="5">
    <app-navigation-button routerLink="season5/home" routerLinkActive="selected" text="Главная" icon=""/>
  </app-navigation-menu>

  <app-navigation-menu text="Сезон" icon="4">
    <app-navigation-button routerLink="season4/home" routerLinkActive="selected" text="Главная" icon=""/>
  </app-navigation-menu>

  <app-navigation-menu text="Сезон" icon="3">
    <app-navigation-button routerLink="season3/home" routerLinkActive="selected" text="Главная" icon=""/>
  </app-navigation-menu>

  <app-navigation-menu text="Сезон" icon="2">
    <app-navigation-button routerLink="season2/home" routerLinkActive="selected" text="Главная" icon=""/>
  </app-navigation-menu>

  <app-navigation-menu text="Сезон" icon="1">
    <app-navigation-button routerLink="season1/home" routerLinkActive="selected" text="Главная" icon=""/>
  </app-navigation-menu>

  <hr style="width: 90%;" />

  <a class="old-site-link" target="_blank" href="https://serverdsminecraftd.wixsite.com/serverds">
    Старый сайт!
  </a>
</nav>
