<nav>
  <app-navigation-button routerLink="home" routerLinkActive="selected" text="Главная" icon=""/>
  <app-navigation-button routerLink="gallery" text="Галерея" icon=""/>
  <app-navigation-button routerLink="information" text="Информация" icon=""/>



  <hr style="width: 90%;"/>
  <fieldset disabled style="border: none; padding: 0; margin: 0; pointer-events: none">
    <app-navigation-menu text="Сезон" icon="7">
      <app-navigation-button routerLink="season7/home" routerLinkActive="selected" text="Главная" icon=""/>
    </app-navigation-menu>

    <app-navigation-menu text="Сезон" icon="6">
      <app-navigation-button routerLink="season6/home" text="Главная" icon=""/>
    </app-navigation-menu>

    <app-navigation-menu text="Сезон" icon="5">
      <app-navigation-button routerLink="season5/home" text="Главная" icon=""/>
    </app-navigation-menu>

    <app-navigation-menu text="Сезон" icon="4">
      <app-navigation-button routerLink="season4/home" text="Главная" icon=""/>
    </app-navigation-menu>

    <app-navigation-menu text="Сезон" icon="3">
      <app-navigation-button routerLink="season3/home" text="Главная" icon=""/>
      <app-navigation-button text="test" icon=""/>
      <app-navigation-button text="test" icon=""/>
    </app-navigation-menu>

    <app-navigation-menu text="Сезон" icon="2">
      <app-navigation-button routerLink="season2/home" text="Главная" icon=""/>
    </app-navigation-menu>

    <app-navigation-menu text="Сезон" icon="1">
      <app-navigation-button routerLink="season1/home" text="Главная" icon=""/>
    </app-navigation-menu>
  </fieldset>
  <hr style="width: 90%;" />

  <a class="old-site-link" target="_blank" href="https://serverdsminecraftd.wixsite.com/serverds">
    Старый сайт!
  </a>
</nav>
