<main>
  <app-page-header>
    <b>1</b>
    Сезон
    <b> > </b>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_1.png" width="300px"/>

    <div class="info-panel">
      <app-status-box class="critical">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(255, 153, 164);">Окончен</span>
      </app-status-box>
      <div>
        <b>Сезон:</b>
        1
      </div>
      <div>
        <b>Количество участников:</b>
        3
      </div>
      <div>
        <b>Старт:</b>
        12.09.2021 - 9:24 - ( Примерно )
      </div>
      <div>
        <b>Конец:</b>
        25.01.2022 - 20:00
      </div>
      <div>
        <b>Версия:</b>
        1.17.1 - 1.18.1
      </div>
      <hr/>
      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>.Dog Filka</li>
          <li>.PumpkinDuke5765</li>
        </ol>
        <ul>
          <li>.King</li>
        </ul>
      </div>

      <hr/>
      <h3>Итог</h3>
      <div>
        Все были не против начать всё с начало.
        Но при условии что будет сохранение инвентаря.
      </div>
      Почти у всех были большие и красивые дома.
      <hr style="border-color: #00000000;"/>
      <div>
        <b>Смысл перезапуска:</b>
        После переноса мира на Java версию очень многое поломалось.
      </div>

    </div>

  </section>

  <app-page-footer/>
</main>
