:root {

}


:host {
  display: block;

  margin: 5px;
}

button {
  background-color: rgba(255,255,255,.0605);
  padding: 4px 11px 6px 11px;

  border-radius: 4px;
  border: 1px solid rgba(255,255,255,.07);
  border-top-color: rgba(255,255,255,.09);

  cursor: pointer;
  user-select: none;

  -webkit-tap-highlight-color: white;
}
button:hover {
  background-color: rgba(255,255,255,.0837);
}
button:active {
  border-color: rgba(255,255,255,.0698);
  background-color: rgba(255,255,255,.0698);
  color: rgba(255,255,255,.786);
}
button:disabled {
  border-color: rgba(255,255,255,.0698);
  background-color: rgba(255,255,255,.0419);
  color: rgba(255,255,255,.3628);
}
button:focus {
  border-color: rgba(255,255,255,.0605);
}
:host.accent button {
  background-color: #60CDFF;
  border: 1px solid rgba(255,255,255,.08);
  border-bottom-color: rgba(0,0,0,.14);
}
:host.accent button:hover {
  background-color: #60CDFFE6;
}
:host.accent button:active {
  border-color: rgba(255,255,255,.0698);
  background-color: rgba(255,255,255,.0698);
  color: rgba(255,255,255,.786);
}
:host.accent button:disabled {
  border-color: rgba(255,255,255,.0698);
  background-color: rgba(255,255,255,.0419);
  color: rgba(255,255,255,.3628);
}
