<main>
  <app-page-header>
    <b>9</b>
    Сезон
    <b> > </b>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_9.png" width="300px"/>


    <div class="info-panel">
      <app-status-box class="critical">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(255, 153, 164);">Окончен</span>
      </app-status-box>

      <div>
        <b>Сезон:</b>
        9
      </div>
      <div>
        <b>Количество участников:</b>
        5
      </div>
      <div>
        <b>Старт:</b>
        30.06.2025 - 20:00
      </div>
      <div>
        <b>Конец:</b>
        13.06.2026 - 19:00
      </div>
      <div>
        <b>Версия:</b>
        1.21.8 - 1.21.11
      </div>
      <hr/>
      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>DogFilka_228</li>
          <li>Chig__Grik</li>
          <li>hanamzenok</li>
          <li>Lisi_Aboba</li>
        </ol>
      </div>

      <hr/>
      <h3>Итог</h3>


      <div>
        Сезон был и всплыл...

        Постройки:

        <ul>
          <li>Спавн - YTDL03</li>
          <li>База в виде корабля - YTDL03</li>
          <li>Паркур - YTDL03</li>
          <li>Медный мост - YTDL03</li>
          <li>Секретные нычки - YTDL03</li>

          <li>Музей "ЦІЦЬКЇ"(не доделаный) - Chig__Grik</li>
          <li>База за холмом(не достроена(точнее даже каркас не достроен)) - Chig__Grik</li>

          <li>База у дерева я пологаю(не достроена, а может мне так кажеться) - DogFilka_228</li>

          <li>База на холме(не достроена) - hanamzenok</li>
          <li>База на острове - Lisi_Aboba</li>
        </ul>
      </div>
      <hr style="border-color: #00000000;"/>
      <div>
        Сезон закончился даже не пройдя майнкрафт...
      </div>

    </div>

  </section>

  <app-page-footer/>
</main>
