:host {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  height: 100%;


  margin: 0;
  padding: 0;
}

div {
  background-color: var(--color-layer);
  padding: 20px 50px 50px 50px;
  border-radius: 10px;

  margin: auto;
}

b {
  display: block;

  font-size: 144px;
  text-align: center;

  margin: 0;
  padding: 0;
}
h1 {
  font-weight: normal;

  margin: 0;
  padding: 0;
}
