<main>
  <app-page-header>
    <b>2</b>
    Сезон
    <b> > </b>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_2.png" width="300px"/>

    <div class="info-panel">
      <app-status-box class="critical">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(255, 153, 164);">Окончен</span>
      </app-status-box>

      <div>
        <b>Сезон:</b>
        2
      </div>
      <div>
        <b>Количество участников:</b>
        8
      </div>
      <div>
        <b>Старт:</b>
        27.01.2022 - 17:30
      </div>
      <div>
        <b>Конец:</b>
        20.04.2022 - 19:00
      </div>
      <div>
        <b>Версия:</b>
        1.18.1
      </div>
      <hr/>
      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>.Dog Filka</li>
          <li>.PumpkinDuke5765</li>
          <li>.ChiG_Grik</li>
          <li>alo</li>
          <li>aloner</li>
          <li>.SwellestFoil135</li>
          <li>artem091297</li>
        </ol>
      </div>

      <hr/>
      <h3>Итог</h3>


      <div>
        На этом сезоне мы проявили очень большую креативность.
        Окрестности спавна битком забиты постройками, легендарный сезон.
        Было очень трудно заканчивать сезон, но причина проста,
        "Всё сделано, нечего делать".
        По завету всех, сохранение инвентаря все еще в силе будет.
      </div>
      <hr style="border-color: #00000000;"/>
      <div>
        Сезон длился 4 месяца.
      </div>

    </div>

  </section>

  <app-page-footer/>
</main>
