<main>
  <app-page-header>
    <b>1</b>
    Скай блок
    <b> > </b>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_1.png" width="300px"/>


    <div class="info-panel">
      <app-status-box class="critical">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(255, 153, 164);">Окончен</span>
      </app-status-box>

      <div>
        <b>Сезон:</b>
        1 - Скай блок
      </div>
      <div>
        <b>Количество участников:</b>
        3
      </div>
      <div>
        <b>Старт:</b>
        11.09.2023 - 17:00
      </div>
      <div>
        <b>Конец:</b>
        1.10.2023 - 15:00 - ( Примерно )
      </div>
      <div>
        <b>Версия:</b>
        1.20
      </div>
      <hr/>
      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>DogFilka_228</li>
          <li>.ChiG_Grik</li>
        </ol>
      </div>

      <hr/>
      <h3>Итог</h3>


      <div>
        Эксперемент который показал нам путь глубоко вниз.
      </div>
      <hr style="border-color: #00000000;"/>
      <div>
        Перерыв был 4 месяца.....
      </div>

    </div>

  </section>

  <app-page-footer/>
</main>
