<main>
  <app-page-header>
    <b>6</b>
    Сезон
    <b> > </b>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_6.png" width="300px"/>


    <div class="info-panel">
      <app-status-box class="critical">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(255, 153, 164);">Окончен</span>
      </app-status-box>

      <div>
        <b>Сезон:</b>
        6
      </div>
      <div>
        <b>Количество участников:</b>
        4
      </div>
      <div>
        <b>Старт:</b>
        25.12.2023 - 23:30
      </div>
      <div>
        <b>Конец:</b>
        16.06.2024 - 22:00
      </div>
      <div>
        <b>Версия:</b>
        1.20.1
      </div>
      <hr/>
      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>DogFilka_228</li>
          <li>.ChiG_Grik</li>
          <li>hanamzenok</li>
        </ol>
      </div>

      <hr/>
      <h3>Итог</h3>


      <div>
        Этот сезон был прелюдией до 7 сезона.
        Тут ничего нету....
      </div>
      <hr style="border-color: #00000000;"/>
      <div>
        "Редкий питомец ЧИГРИК.
      </div>
      <div>
        Достопремечательность
      </div>
      <div>
        Кормить яйцами" цытата великого.
      </div>

    </div>

  </section>

  <app-page-footer/>
</main>
