main {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  background-image: url("https://res.cloudinary.com/vestbee/image/upload/c_scale,q_100,w_720/v1694178262/cyber_hero_1_voewzs.png");
  background-size: cover;

  min-height: 100dvh;
  --overflow: hidden;
}

div {
  display: flex;
  flex-direction: row;

  flex-grow: 1;
}

app-top-bar {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;


  top: 0;
  position: sticky;


  flex-shrink: 0;
  background-color: var(--color-layer);

  flex-basis: var(--header-height);

  height: var(--header-height);
  max-height: var(--header-height);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  backdrop-filter: blur(1rem);

  z-index: 10;
}
app-side-bar {
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  backdrop-filter: blur(1rem);

  top: var(--header-height);
  position: sticky;

  width: 250px;
  min-width: 250px;
  height: calc(100dvh - var(--header-height));

  padding: 0;
  margin: 0;

  z-index: 5;







  transition: transform 0.2s ease, width 0.2s ease;
}
app-side-bar.state {
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  app-side-bar {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 768px) {
  app-side-bar {
    position: fixed;
    transform: translateX(-100%);
    background-color: var(--color-layer);
    border-radius: 0 0 10px 0;
  }
}
