<main>
  <app-page-header>
    <b>7</b>
    Сезон
    <b> > </b>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_7.png" width="300px"/>


    <div class="info-panel">
      <app-status-box class="critical">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(255, 153, 164);">Окончен</span>
      </app-status-box>

      <div>
        <b>Сезон:</b>
        7
      </div>
      <div>
        <b>Количество участников:</b>
        6
      </div>
      <div>
        <b>Старт:</b>
        16.06.2024 - 22:40
      </div>
      <div>
        <b>Конец:</b>
        11.10.2024 - 23:00
      </div>
      <div>
        <b>Версия:</b>
        1.20 - 1.21
      </div>
      <hr/>
      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>DogFilka_228</li>
          <li>.ChiG_Grik, Chig__Grik</li>
          <li>hanamzenok</li>

          <li>Htosy</li>
          <li>Lisi_Aboba</li>
        </ol>
      </div>

      <hr/>
      <h3>Итог</h3>


      <div>
        Сезон который наконец смог! Смог встать в ряды легендарных сезонов на уровне 2!

        Начало сезона было очень локальным буквально 0 информации в группе. Начали с 3 участников.

        Потом был очень долгий простой, а потом под конец сезон разогнался.



      </div>
      <div>Спавн очень красивый был.</div>

      <div>
        А также хочу поздравить ибо Чигрик наконец перешел на ПК!!!
      </div>
      <hr style="border-color: #00000000;"/>
      <div>
        Вы что-то слышали про медный мост?
      </div>

    </div>

  </section>

  <app-page-footer/>
</main>
