<main>
  <app-page-header>
    <b>3</b>
    Сезон
    <b> > </b>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_3.png" width="300px"/>

    <div class="info-panel">
      <app-status-box class="critical">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(255, 153, 164);">Окончен</span>
      </app-status-box>

      <div>
        <b>Сезон:</b>
        3
      </div>
      <div>
        <b>Количество участников:</b>
        7
      </div>
      <div>
        <b>Старт:</b>
        20.04.2022 - 20:00
      </div>
      <div>
        <b>Конец:</b>
        30.10.2022 - 17:30
      </div>
      <div>
        <b>Версия:</b>
        1.19
      </div>
      <hr/>
      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>.Dog Filka</li>
          <li>.PumpkinDuke5765</li>
          <li>.ChiG_Grik</li>
          <li>.SwellestFoil135</li>
          <li>artem091297, account200</li>
          <li>.WwisKacC</li>
        </ol>
      </div>

      <hr/>
      <h3>Итог</h3>


      <div>
        И как обычно за месяц до конца сервер был заброшен, под конец был облагорожен спавн. Артемка был забанен)
        Самое яркое, что было это квест здание с размером с монолит до облаков.
      </div>
      <hr style="border-color: #00000000;"/>
      <div>
        Артемка забанен!
      </div>

    </div>

  </section>

  <app-page-footer/>
</main>
