<main>
  <app-page-header>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_8.png" width="300px"/>

    <div class="info-panel">
      <h3>Информация</h3>

      <div>
        <b>Name:</b>
        ServerDS
      </div>
      <div>
        <b>Ip1:</b>
        {{ subdomain }}
      </div>
      <div>
        <b>Ip2:</b>
        {{ ip }}
      </div>

      <app-status-box [class]="ServerStatusStyle">
        <b>Статус</b>
        <span>{{ status_label }}</span>
      </app-status-box>

      <div>
        <b>Игроков онлайн: </b>
        {{ onlinePlayers }}/{{ maxOnlinePlayers }}
      </div>


      <app-button (click)="window.open('https://freemcserver.net/server/680613', '_blank')">
        Продлить сервер
      </app-button>
    </div>

    <div class="info-panel">

      <app-status-box class="success">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(108, 203, 95);">Начался</span>
      </app-status-box>
      <div>
        <b>Сезон:</b>
        8
      </div>
      <div>
        <b>Количество участников:</b>
        6
      </div>
      <div>
        <b>Старт:</b>
        12.10.2024 - 20:00
      </div>
      <div>
        <b>Конец:</b>
        не скоро!
      </div>
      <div>
        <b>Версия:</b>
        1.21.1
      </div>
      <hr/>

      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>DogFilka_228</li>
          <li>Chig__Grik</li>
          <li>hanamzenok</li>
          <li>Htosy</li>
          <li>Lisi_Aboba</li>
        </ol>
      </div>


    </div>

  </section>

  <app-page-footer/>
</main>
