<section>
  <header>
    <div>
      <h2><span class="icon"></span> Главная</h2>
    </div>
  </header>

  <article>

    <img class="logo-article" src="model_SDS_title_8.png" width="300px"/>

    <div class="info-panel">
      <h3>Информация</h3>

      <div class="success-box">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(108, 203, 95);">Начался</span>
      </div>
      <div>
        <b>Сезон:</b>
        8
      </div>
      <div>
        <b>Количество участников:</b>
        7
      </div>
      <div>
        <b>Старт:</b>
        12.10.2024 - 20:00
      </div>
      <div>
        <b>Конец:</b>
        ?
      </div>
      <div>
        <b>Версия:</b>
        1.21.1
      </div>
      <hr/>
      <div>
        <b>Name:</b>
        ServerDS
      </div>
      <div>
        <b>Ip1:</b>
        serverds.enderman.cloud
      </div>
      <div>
        <b>Ip2:</b>
        guineapig.fi.freemcserver.net:40989
      </div>
    </div>

  </article>

  <footer>
    2024 by DL
  </footer>
</section>
