<main>
  <app-page-header>
    <b>4</b>
    Сезон
    <b> > </b>
    <span class="icon"></span>
    Главная
  </app-page-header>

  <section>

    <img class="logo-article" src="model_SDS_title_4.png" width="300px"/>


    <div class="info-panel">
      <app-status-box class="critical">
        <b>Статус</b>
        <span style="font-weight: bolder; color: rgb(255, 153, 164);">Окончен</span>
      </app-status-box>

      <div>
        <b>Сезон:</b>
        4
      </div>
      <div>
        <b>Количество участников:</b>
        4
      </div>
      <div>
        <b>Старт:</b>
        30.10.2022 - 18:00
      </div>
      <div>
        <b>Конец:</b>
        03.03.2023 - 18:00
      </div>
      <div>
        <b>Версия:</b>
        1.19
      </div>
      <hr/>
      <h3>Состав</h3>

      <div>
        <ol>
          <li>YTDL03</li>
          <li>.Dog Filka</li>
          <li>.PumpkinDuke5765</li>
          <li>.ChiG_Grik</li>
        </ol>
      </div>

      <hr/>
      <h3>Итог</h3>


      <div>
        Один из самых блеклых сезонов, тем не менее с большой историей.
        Был ивент со снегом который в высоту был больше 10-20 блоков.
        Также экспериментально был добавлен техно мод Slimefun4, но он не ужился.
      </div>
      <hr style="border-color: #00000000;"/>
      <div>
        Ааа... а... где люди???
      </div>

    </div>

  </section>

  <app-page-footer/>
</main>
