<div>
  <button (click)="this.toggle()" id="menu-button"></button>
  <img src="logo.png" alt="sds-logo-8"/>
  <h1>ServerDS</h1>

  <div style="flex-grow: 1"></div>

  <a class="social-button viber" href="https://invite.viber.com/?g2=AQBPFFHpmz3GAk0ZBQEd1%2FJ%2FLFjE04ezeasyfRGvF2SNlgZqntMkRllM75KaDPW6" target="_blank"><img src="viber-icon-white.svg" alt="viber-logo"/></a>
  <a class="social-button telegram" href="https://t.me/+0Oz-wBiVRxNlYzRi" target="_blank"><img src="telegram-logo-white.svg" alt="telegram-logo"/></a>
  <a class="social-button discord" href="https://discord.gg/7BKZZMBaAS" target="_blank"><img src="icon_clyde_white_RGB.svg" alt="discord-logo"/></a>
</div>
